/*.........................General style.............................*/
.titles{
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 40px;
    line-height: 51.04px;
    background-color: rgba(185, 255, 102, 1);
    padding: 0px, 7px, 0px, 7px;
    border-radius: 7px;
}
.titles-par{
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;
    margin-left: 40px;
}
.case-hr{
    max-width: 186px;
    border: solid 1px rgba(255, 255, 255, 1);
}
/* ...................................................................... */
.Case-Studies-title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 140px;
}
.Case-Studies{
    display: flex;
    flex-direction: row;
    padding: 70px 60px 70px 60px;
    background-color: rgba(25, 26, 35, 1);
    border-radius: 45px;
    gap: 64px;
    margin-top: 80px;
}
.case-text{
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 22.97px;
    margin-bottom: 20px;
}
.case-link{
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: rgba(185, 255, 102, 1);
}
/* .................................................................................. */
.FAQ-content-title{
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.FAQ-content{
    display: flex;
    flex-direction: column;
    padding: 41px 60px 41px 60px;
    background-color: rgba(243, 243, 243, 1);
    box-shadow: rgba(25, 26, 35, 1)0px 5px;
    border: solid 1px rgba(25, 26, 35, 1);
    border-radius: 45px;  
    margin-top: 30px;
    justify-content: space-between;
}
.FAQ-content-new{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FAQ-hr{
    display: none;
    background-color: rgba(0, 0, 0, 1);
    height: 1px;
}
.answer-FAQ{
    display: none;
}
.answer{
    background-color: rgba(185, 255, 102, 1);
    height: 297px;
    display: flex;
    flex-direction: column;
    .FAQ-hr{
        display: inline-block;
    }
    .answer-FAQ{
        display:block;
    }
    .FAQ-p{
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
        font-size: 18px;
        line-height: 22.97px;
        max-width: 1114px;
    }
}
.FAQ{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    max-width: 712px;
    text-align: center;
}
.FAQ h1{
    font-weight: 500;
    font-size: 60px;
    color: rgba(0, 0, 0, 1);
    line-height: 76.56px;
}
.FAQ span{
    font-weight: 500;
    font-size: 30px;
    line-height: 38.28px;
    color:rgba(0, 0, 0, 1);
    text-align: center;
}
.FAQ-button{
    border-radius: 50%;
    width: 58px;
    height: 58px;
    min-width:30px;
    min-height: 30px;
    background-color: rgba(243, 243, 243, 1);
    border:solid 1px rgba(25, 26, 35, 1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
}
/* .................................................................................... */
.team-content-title{
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.Team-members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1441px;
}
.Team-member{
    padding: 40px 35px 40px 35px;
    border: solid 1px rgba(25, 26, 35, 1);
    box-shadow: rgba(25, 26, 35, 1)0px 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 45px;
    max-width: 387px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
    min-height: 330px;
    max-height: 330px;
}
.Team-member-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Team-member-title span{
    flex-direction: column;
    display: flex;
    text-align: start;
    justify-content: end;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;
    color: rgba(0, 0, 0, 1);
}
.Team-member-title span h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 25.52px;
    color: rgba(0, 0, 0, 1);
}
.team-p{
    max-width: 317px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}
.team-hr{
    border: solid 1px rgba(0, 0, 0, 0.336);
    max-width: 317px;
    margin-top: 28px;
    margin-bottom: 28px;
}
.Team-member-title button{
    all: unset;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(185, 255, 102, 1);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.Team-member-button button{
    background-color: rgba(25, 26, 35, 1);
    border-radius: 14px;
    padding: 20px 35px 20px 35px;
    min-height: 68px;
    min-width: 269px;
    font-size: 400;
    font-weight:20px ;
    line-height: 28px;
    text-align: center;
    color:rgba(255, 255, 255, 1);
    box-shadow: none;
    border: none;
}
.Team-member-button{
    display: flex;
    justify-content: end;
}
@media only screen and (max-width:800px){
    .res-ponsiv{
        display: flex;
        justify-content: center;
    }
    .Case-Studies{
        display: none;
    }
}
/* .............................................................................. */
.Case-Studies-slider{
    display:none;
    margin-top: 40px;
}
.Case-Studies-slider-case{
    background-color: rgba(25, 26, 35, 1);
    padding:42px 50px 42px 50px;
    border-radius: 45px;
    width: 350px;
}
@media screen and (max-width:800px) {
    .Case-Studies-slider{
        display: flex;
    }
}